.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.defaultContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
}
.textFieldContainer {
  margin-bottom: 30px
}

.walletContainers {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  min-width: 500px;
}

.walletTitle {
  color: #1A325F;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 1.7rem 0;
}

.importButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.walletFileName {
  font-size: 15px;
  margin-left: 15px;
  opacity: 0.5;
}

.walletDescription {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.7px;
  color: #1e1313;
  max-width: 659px;
}

.actionButtonContainer {
  width: 194px;
  margin-top: 20px;
}

.actionButton {
  width: 194px;
  height: 50px;
  padding: 0;
}

