{
  "presets": [
    [
      "env",
      {
        "targets": { "node": 10 },
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["add-module-exports", "polished"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["dev-expression", "babel-plugin-styled-components"]
    },
    "development": {
      "plugins": [
        "babel-plugin-styled-components",
        "transform-class-properties",
        "transform-es2015-classes",
        [
          "flow-runtime",
          {
            "assert": true,
            "annotate": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "fileName": false
          }
        ],
        "transform-class-properties",
        "transform-es2015-classes",
        [
          "flow-runtime",
          {
            "assert": true,
            "annotate": true
          }
        ]
      ]
    }
  }
}
