



.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.inactiveTab {
  background-color: #417DEF;
  color: white;
  text-align: center;
  padding: 0 10px;
}

.activeTab {
  color: #1A325F;
  background-color: white;
  text-align: center;
  padding: 0 10px;
}

.addAddressBodyContainer {
  background-color: white;
  padding: 2rem;
}
.fundraiserPasswordContainer {
  display: flex;
  justify-content: space-between;
}
