.actionPanelContainer {
  margin-left: 50px;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: 16px;
}

.activeTab {
  background-color: white;
  color: #1A325F;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactiveTab {
  background-color: #417DEF;
  color: #E3E7F1;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 20px;
}

.sendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 50px;
}

.receiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 50px;
}
