.titleContainer {
  background-color: #417DEF;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 80px;
  padding: 20px 60px;
  display: flex;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.tabContainer {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-around;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.inactiveTab {
  background-color: #417DEF;
  color: white;
}

.activeTab {
  color: #1A325F;
  background-color: white;
}

.addAddressBodyContainer {
  padding: 40px;
}
.fundraiserPasswordContainer {
  display: flex;
  justify-content: space-between;
}
