.addressBlockContainer {
  background-color: white;
}

.accounts {
  background-color: #FAFBFC;
}

.addressBlockTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressBlockTitleContainerExpanded {
  background-color: #417DEF;
  color: white;
}

.addressBlockTitleContainer {
  padding: 10px;
}

.arrowContainer {
  cursor: pointer;
}

.tzAmount {
  font-weight: 600;
  display: flex;
}

.accountBlock {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.addAccountBlock {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #7B91C0;
  min-height: 30px;
}


.tezosSymbol {
  height: 17px;
  width: 17px;
  filter: brightness(0%);
}
