.addressBlockContainer {
  background-color: white;
  overflow: hidden;
}

.accounts {
  background-color: #f9fafc;
}

.addressBlockTitle {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  font-weight: 300;
  font-size: 1rem;
  align-items: center;
}

.addressBlockTitle span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addressBlockTitleContainerSelected {
  background-color: #417DEF;
  color: #E3E7F1;
}

.addressBlockTitleContainer {
  cursor: pointer;
  padding: 15px 20px;
}

.arrowContainer {
  cursor: pointer;
}

.tzAmount {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  color: black;
}

.accountBlock {
  border-bottom: 1px solid #edf0f7;
  padding: 15px 20px;
  cursor: pointer;
}

.accountBlockAddress {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.tzAmountSelected {
  color: #E3E7F1;
}

.addAccountBlock {
  border-bottom: 1px solid #edf0f7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #7B91C0;
  font-size: 16px;
  font-weight: 500;
  min-height: 30px;
}

.tezosSymbol {
  height: 17px;
  width: 17px;
  filter: brightness(0%);
}

.tezosSymbolGray {
  height: 17px;
  width: 17px;
  filter: brightness(0.5%) invert(100%);
}
