.totalBannerContainer {
  padding: 40px;
  background-color: #417DEF;
}

.total {
  color: white;
  font-size: 64px;
  display: flex;
  align-items: center;
}

.total h3 {
  margin: 0;
  font-weight: 300;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.address {
  color: #d0e2fd;
  font-size: 22px;
  font-weight: 300;
}

.tezosLogo {
  height: 50px;
  width: 50px;
  filter: brightness(0%) invert(100%);
}
