.delegateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalAddress {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
}

.tezosSymbol {
  height: 17px;
  width: 17px;
  filter: brightness(0%);
}

.feeContainer {
  border-bottom: 1px solid #EDF0F6;
  padding-bottom: 50px;
  display: flex;
  font-size: 18px;
  color: #1A325F;
}

.feeText {
  font-weight: 600;
}

.confirmationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
