.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 20%;
  width: 100%;
}

.defaultContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
}

.walletContainers {
  display: flex;
  flex-direction: column;
}

.walletTitle {
  color: #1A325F;
  font-size: 34px;
}

.importButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.walletFileName {
  font-size: 15px;
  margin-left: 15px;
  opacity: 0.5;
}

.errorContainer {
  color: #d62d20;
  font-size:14px;
  padding: 14px 0;
}
