.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.defaultContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
}
.textFieldContainer {
  margin-bottom: 30px
}

.walletContainers {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.walletTitle {
  color: #1A325F;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.importButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.walletFileName {
  font-size: 15px;
  margin-left: 15px;
  opacity: 0.5;
}
