

.nonActivePage {
  background-color: #E3E7F1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  cursor: pointer;
}

.nonActivePage:hover {
  background-color: lightgray;
  transition: background-color 0.2s;
}

.activePage {
  background-color: lightgray;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  cursor: pointer;
}
