.receiveContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0px;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  color: #1A325F;
  font-size: 26px;
  position: relative;
}

.qrCode {
  border: 1px solid #EDF0F6;
  margin-right: 50px;
}

.copyConfirmation {
  background-color: #417DEF;
  color: white;
  position: absolute;
  font-size: 14px;
  border-radius: 10px;
  width: 65px;
  display: flex;
  justify-content: center;
  height: 25px;
  align-items: center;
  top: 34px;
  left: 160px;
  opacity: 0;
  transition: opacity 0.4s;
}

.showCopyConfirmation {
  opacity: 1.0;
}
