.settingsIcon {
  height: 80px;
  cursor: pointer;
}

.logoutIcon {
  height: 65px;
  cursor: pointer;
}

.toolsContainer {
  display: flex;
  align-items: center;
}

.line {
  border-right: 2px solid #A8B6D5;
  margin-right: 8px;
  height: 50px;
}
