body {
    background-color: black;
    color: green;
}

img.gallery-image {
    height: 400px;
    vertical-align: top;
}

video.gallery-image {
    height: 400px;
    vertical-align: top;
}

div.gallery-tile {
    vertical-align: top;
    float: left;
}

.nav {
    display: flex;
    align-items: center;
    color: green;
    font-size: larger;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    display: flex;
    padding: 1rem;
    margin: 0;
    list-style: none;
    gap: 1.5rem;
}

.nav li:hover {
    text-decoration: underline;
}