body {
    background-color: black;
    color: green;
}

img.gallery-image {
    height: 400px;
    vertical-align: top;
}

video.gallery-image {
    height: 400px;
    vertical-align: top;
}

div.gallery-tile {
    vertical-align: top;
    float: left;
}

.nav {
    display: flex;
    align-items: center;
    color: green;
    font-size: larger;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    display: flex;
    padding: 1rem;
    margin: 0;
    list-style: none;
    gap: 1.5rem;
}

.nav li:hover {
    text-decoration: underline;
}

.beacon-button:disabled {
    visibility: hidden;   
}

.operation-container {
    display: flex;
    margin-bottom: 10px;
}

.label-container {
    display: flex;
}

.operation-btn {
    margin-left: 20px;
    width: 100px;
}

.operation-amount {
    margin-left: 10px;
    width: 50px;
}

.operation-delegate-btn {
    margin-left: 88px;
    width: 100px;
}

.operation-address {
    width: 188px;
    box-sizing: border-box;
}

.operation-beacon-btn {
    margin-left: 10px;
    width: 150px;
}