.defaultContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
}

.walletContainers {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.walletTitle {
  color: #1A325F;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 30px 0;
}