.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.walletContainers {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.walletTitle {
  color: #1A325F;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 0.75rem 0;
}

.walletDescription {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.7px;
  color: #1e1313;
  max-width: 659px;
}

.actionButtonContainer {
  width: 194px;
  margin-top: 40px;
  display: flex;
  align-self: center;
}

.actionButton {
  width: 194px;
  height: 50px;
  padding: 0;
}

.formContainer {
  display: flex;
  margin-top: 1rem;
}

.passwordsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.createFileEmptyIcon {
  height: 6.75rem;
  margin-bottom: 1.18rem;
}

.createFileButton {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 9.18rem !important;
  margin-bottom: 1.6rem !important;
}

.walletFileSection {
  text-align: center;
  margin-bottom: 1.125rem;
}

.checkMark {
  display: block;
  margin-bottom: 15px;
}
